/*
Theme Name:   Astra Child
Theme URI:    https://yourwebsite.com/description
Description:  A child theme of Twenty Twenty-Four, customised by You.
Author:       Your Name
Author URI:   https://yourwebsite.com
Template:     astra
Version:      1.0.0
Text Domain:  astra-child
*/

/* 注意："Template" 的值必须与父主题的目录名完全一致 */